<!--<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>-->
<link rel="stylesheet" type="text/css" href="about.css">
<div class="col-sm-3"></div>
<div class="col-sm-6">
    
        <div class="info">
            <h2>About</h2>
            <p>Garner was crafted by four rising high school seniors to be a safe location for users to share their life experiences and raise questions about society. By providing a space for users to find and connect with other people who have had similar experiences, Garner achieves its initial goal of using thought-provoking discussion as a precursor to taking action.
        </p>
            <p>Garner’s creators realize that on most social media platforms, the mission for achieving social justice generally ends at discussion. The hashtags and trending topics of the world invite online users to talk about the issues in their society, but nothing more. By pairing discussion with petitions on a single website, the process of moving towards social change becomes localized in one online source.
        </p>
            <p>Although Garner may be in its early stages, its creators are confident in its ability to connect people and foster creative development of ways to solve the problems facing the world today.
        </p>
        </div>
  
</div>
<div class="col-sm-3"></div>
