<!--<h1>Pages#contact_us</h1>
<p>Find me in app/views/pages/contact_us.html.erb</p>-->
<div class="col-sm-3"></div>
<div class="col-sm-6">
    
<div class="info">
<link rel="stylesheet" type="text/css" href="contact_us.css">
<h2>Contact us</h2>
<p font-size="16px">Garner is always looking for ways to improve its user experience, and ways to enhance the process of achieving social justice. All comments and suggestions are handled by our development staff, and users can expect a reply in a timely-manner.
 </p>
</div>
  
</div>
<div class="col-sm-3"></div>