/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 header {
  padding: 20px 0;
  background-color: #00e6e6;
}
header .row {
  display: flex;
  align-items: center;
  size: cover;
}
header h1 {
    font-size: 50px;
    font-family: "Arial Black", Gadget, sans-serif; 
    color: white;

}
header nav {
  display: flex;
  justify-content: flex-end;
}
  .btn.btn-primary {
  border-radius: 2px;
  border: 5px;
  color: #00e6e6;
  text-shadow: none;
  background-color: #ffffff;
  height: 25px;
  width: 90px;
  text-align: center;
  margin: 20px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}


header nav{
    float: right;
}