
.signup{
    border: solid 2px #e1eaea;
    background-color: #f2f2f2;
    text-align: center;
    width: 350px;
    border-radius: 8px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 30px
}
h2{
    text-align: center
}